{% extends 'base.html' %}


{% block content %}

<body>

    <section class="vh-100" style="background-color: #e2d5de;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <h2 class="mb-3">Hello {{request.user}}</h2>

                            <h6 class="mb-3">Todo List</h6>

                            <a href="{% url 'create' %}" class="btn btn-primary btn-lg m-2">Add Task</a>


                            <ul class="list-group mb-0">
                                {% for task in tasks %}
                                {% if not task.complete %}
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                    <div class="d-flex align-items-center">
                                        <a href="{% url 'task' task.id %}">{{task.title}}</a>

                                    </div>
                                    <a href="{% url 'update' task.id %}" class="btn btn-primary  m-2">Update
                                        Task</a>
                                    <a href="{% url 'delete' task.id %}" class="btn btn-danger  m-2">Delete
                                        Task</a>

                                </li>
                                {% else %}
                                <li
                                    class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                    <div class="d-flex align-items-center">
                                        <a href="{% url 'task' task.id %}"> <s>{{task.title}}</s></a>
                                    </div>
                                    <a href="{% url 'update' task.id %}" class="btn btn-primary  m-2">Update
                                        Task</a>
                                    <a href="{% url 'delete' task.id %}" class="btn btn-danger  m-2">Delete
                                        Task</a>
                                </li>
                                {% endif %}
                                {% empty %}
                                <h4>List is empty</h4>
                                {% endfor %}

                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


</body>

</html>
{% endblock %}